html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: #050209;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  width: 100%;
  display: grid;
  place-items: center;
}
.centerY {
  display: flex;
  justify-content: center;
}
.window {
  height: 100vh;
}
.right {
  float:right;
}
.left {
  float:left;
}
.wrapper-with-intrinsic-ratio {
	position: relative;
  /* padding-bottom makes the child relative to this parent container's width */
  padding-bottom: 100%;
}

.main-body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #5B2AB3;	
  border-radius: 10%;
}
.camera-wrapper {
  margin-top: 2%
}

.camera {
  width: 2.5%;
  padding-bottom: 2%; 
  position: relative;
  margin-top: 1.7%;
}
.camera2 {
  background: #30165e;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.speaker{
  margin-top: 114%;
  width: 45%;
}
.topscreensection{
  margin-top: 2.5%;
}

.topscreen-wrapper{
  padding-bottom: 53%;
}
.screen {
  background: repeating-linear-gradient(
    135deg,
    #161217,
    #161217 5px,
    #1c1a1e 5px,
    #1c1a1e 10px
  );  
  border-radius: 2%;
  border: 5px solid #120824;
}
.topscreen {
  position: absolute;
	width: 88%;
	height: 100%;
}
.divider {
  width: 100%;
  padding-bottom: 2%;
  margin-top: 4%;
  background-color: #30165E;
}
.bottomscreen-wrapper {
  padding-bottom: 69%;
  margin-top: 7.5%;
}
.bottomscreen {
  position: absolute;
	width: 94%;
	height: 100%;
  overflow: hidden;
}

.joystick {
  width: 76%;
  margin-top: 13.5%;
}
.direction-container{
  width: 66%;
  margin-top: 10%;
  position: relative;
  /* nextjs Image component (when fill=true) needs the parent container to have a height */
  /* I do that here by setting the padding equal to the width */
  padding-bottom: 66%;
}
.abyx-container{
  width: 76%;
  margin-top: 32%;
  position: relative;
  padding-bottom: 76%;
}
.fix-margins {
  margin-left: 6%;
}

.power-container{
  width: 17%;
  margin-top: 83%;
  position: relative;
  padding-bottom: 17%;
}

.icon-list{
  margin-top: 10px;
  height:50px;
}

.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
}

.pokegrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 0px;
}

.gridcell {
  position: relative;
  padding-bottom: 100%;
}

.box-container {
  width: 97%;
  /* padding-bottom: 97%; */
  position: relative;
  height:auto;
}
.pokegrid-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
  overflow-y:scroll;
  overflow-x:hidden;
  mask-image: linear-gradient(to top, black 97%, transparent 100%);
  padding-top: 3%;
}

.imgThm {
  object-fit: "contain";
  object-position: 50% 100%;
}
.crop {
  position: absolute;
  width: 145.2%;
  padding-bottom: 120%;
}

.center-bottom {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: end;
}
.box-wallpaper-container{
  width: 100%;
  position: absolute;
  /* nextjs Image component (when fill=true) needs the parent container to have a height */
  /* I do that here by setting the padding equal to the width */
  padding-bottom: 100%;
}
.box-header-container{
  width: 100%;
  position: relative;
  padding-bottom: 20%;
}
.box-arrow-container {
  position: relative;
  padding-bottom: 200%;
}

.pokegrid-ratio-container{
  width: 100%;
  position: relative;
  padding-bottom: 91%;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-content{
  margin-right: 5%;
  margin-left: 2%;
}