html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
  background-color: #050209;
  font-size:large;
  /* font-size: 16px;
  font-size: clamp(16px, 3vw, 30px); */
}

@media screen and (min-width: 870px) {
  body {
    font-size: calc(16px + 1vw);
  }
}
@media screen and (min-width: 1920px) {
  body {
    font-size: 2rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  width: 100%;
  display: grid;
  place-items: center;
}
.centerY {
  display: flex;
  justify-content: center;
}
.window {
  height: 100vh;
}
.right {
  float:right;
}
.left {
  float:left;
}
.rightflex {
  display: flex;
  justify-content: flex-end;
}
.wrapper-with-intrinsic-ratio {
	position: relative;
  /* padding-bottom makes the child relative to this parent container's width */
  padding-bottom: 100%;
}

.maintain-aspect-ratio-but-fill-screen-width-and-height{
  width: 80vw; 
  height: 80vw; 
  max-height: 80vh;
  max-width: 80vh; 
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
}
.main-body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #5B2AB3;	
  border-radius: 10%;
}
.camera-wrapper {
  margin-top: 2%
}

.camera {
  width: 2.5%;
  padding-bottom: 2%; 
  position: relative;
  margin-top: 1.7%;
}
.camera2 {
  background: #30165e;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.speaker{
  margin-top: 114%;
  width: 45%;
}
.topscreensection{
  margin-top: 2.5%;
}

.topscreen-wrapper{
  padding-bottom: 53%;
}
.screen {
  background: repeating-linear-gradient(
    135deg,
    #161217,
    #161217 5px,
    #1c1a1e 5px,
    #1c1a1e 10px
  );  
  border-radius: 2%;
  border: 5px solid #120824;
}
.topscreen {
  position: absolute;
	width: 88%;
	height: 100%;
}
.divider {
  width: 100%;
  padding-bottom: 2%;
  margin-top: 4%;
  background-color: #30165E;
}
.bottomscreen-wrapper {
  padding-bottom: 69%;
  margin-top: 7.5%;
}
.bottomscreen {
  position: absolute;
	width: 94%;
	height: 100%;
  overflow: hidden;
}

.joystick {
  width: 76%;
  margin-top: 13.5%;
}
.direction-container{
  width: 66%;
  margin-top: 10%;
  position: relative;
  /* nextjs Image component (when fill=true) needs the parent container to have a height */
  /* I do that here by setting the padding equal to the width */
  padding-bottom: 66%;
}
.abyx-container{
  width: 76%;
  margin-top: 32%;
  position: relative;
  padding-bottom: 76%;
}
.fix-margins {
  margin-left: 6%;
}

.power-container{
  width: 17%;
  margin-top: 83%;
  position: relative;
  padding-bottom: 17%;
}

.icon-list{
  margin-top: 10px;
  height:50px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.pokegrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 0px;
}

.gridcell {
  position: relative;
  padding-bottom: 100%;
}
.gridcell7 {
  position: relative;
}
.box-container {
  width: 97%;
  position: relative;
  height:auto;
}
.pokegrid-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
  overflow-y:scroll;
  overflow-x:hidden;
  mask-image: linear-gradient(to top, black 97%, transparent 100%);
  padding-top: 4%;
}

.imgThm {
  object-fit: "contain";
  object-position: 50% 100%;
}
.crop {
  position: absolute;
  width: 145.2%;
  padding-bottom: 120%;
}

.crop7 {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}

.center-bottom {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: end;
}

.box-wallpaper-container{
  width: 100%;
  position: absolute;
  /* nextjs Image component (when fill=true) needs the parent container to have a height */
  /* I do that here by setting the padding equal to the width */
  padding-bottom: 100%;
}
.box-header-container{
  width: 100%;
  position: relative;
  padding-bottom: 20%;
}
.box-arrow-container {
  position: relative;
  padding-bottom: 200%;
}

.pokegrid-ratio-container{
  width: 100%;
  position: relative;
  padding-bottom: 91%;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-content{
  margin-right: 5%;
  margin-left: 2%;
}
.top-textbox-container{
  width: 100%;
  padding-top: 19%; 
  position: relative; /* If you want text inside of it */
}
.bottom-textbox-container{
  width: 100%;
  padding-top: 54%; 
  position: relative; /* If you want text inside of it */
}
.textbox {
  background: #dbd5e5;
  border-radius: 32px;
  border-style: solid;
  border-color: #35303c;
  border-width: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 
    inset 0px 0px 0px 2px rgba(219, 213, 229, 1),
    inset 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  overflow-y: scroll;
}
.wrapper {
  position: relative;
}
.select{
  padding: 16px 15px 10px 15px;
  border-radius: 25px;
  cursor: default;
}
.textbox.select {
  overflow-y: visible;
}
.profoak-container{
  position: absolute;
  width: 23%;
  padding-bottom: 50%;
  margin-top: 1%;
}
.profOak{
  object-fit: "contain";
}

.select-arrow-container{
  position: absolute;
  padding-bottom: 74%;
  width: 50%;
  top: -35%;
  left: 52%;
}

.selected-pokemon-container{
  position: relative;
  width:34%;
  padding-bottom:34%;
}

.selected-pokemon-name-container {
  background: #6D637A;
  background: linear-gradient(to right, #4E3A6A 50%, transparent 100%);
  width: 75%;
  padding-top: 1%;
  color: white;
  position: relative;
}

.master-ball{
  object-fit: contain;
  object-position: left;
}

.pokename {
  margin-left: 13%;
  font-size: larger;
}
.select-arrow-container2{
  position: absolute;
  padding-bottom: 110%;
  width: 110%;
  left: -130%;
  top: -10%;
}

.no, .yes{
  position: relative;
}

.footer-container{
  width:100%;
  padding-bottom: 8%;
  position: relative;
  background: #dbd5e5;
  border-style: solid;
  border-color: #35303c;
  border-width: 2px;
  position: relative;
  box-shadow: inset 0px -12px 10px 0px rgba(0, 0, 0, 0.25);
}
.footer-buttons{
  box-shadow: inset 0px -4px 5px 4px rgba(18, 8, 36, 0.6),
    0px 4px 4px 0px rgba(53, 48, 60, 0.35);
}
.footer-button-container{
  width: 7%;
  padding-bottom: 7%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  position: relative; 
  margin-right: 2%;
}

.track-box-container{
  /* TODO: change all the containers to use aspect-ratio instead of padding-bottom ugh i wish i had found out about this sooner */
  aspect-ratio: 30/11; 
  background: #dbd5e5;
  border-radius: 200px;
  border-style: solid;
  border-color: #5b2ab3;
  border-width: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 
    inset 0px 0px 0px 2px rgba(219, 213, 229, 1),
    inset 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  overflow-y: hidden;
}

.spacer {
  gap: 5px;
}
.spacer-r{
  padding-top: 5%;
}
.artist{
  background: #5b2ab3;
  width: 100%;
  font-size: smaller;
}
.artist-text-container{
  text-align: right;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: smaller;
  color: #dbd5e5;
  padding-left: 20%;
  padding-right: 16%
}

.albumart{
  aspect-ratio: 1/1;
  width: 9%;
  position: absolute;
  border: 2px solid black;
  box-shadow: 0px 0px 1px 1px rgba(219, 213, 229, 1);
  z-index: 20;
}

.track-title{
  aspect-ratio: 10/1;
  width: 100%;
  padding-left: 20%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.audio-player-container{
  width: 70%;
  aspect-ratio: 13/1;
  margin-top: 1%;
  margin-left: 13%;
  padding-left: 1%;
  border-radius: 5px;
  background: #120824;
  padding-top: 0.5%;
  display: flex;
}
.play-pause{
  width: 10%;
  height: 90%;
  vertical-align: top;
  font-size: medium;
  padding-left: 1.5%;
  padding-right: 1%;
}
.slider-container {
  width: 85%;
  padding-top: 1%;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #6EBC5B;
  cursor: pointer;
  width: 95%;
  vertical-align: top;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 95%;
  height: 80%;
  border-radius: 4px;
}
                /***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #6D637A;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 100%;
    -webkit-appearance: none;
    color: #6D637A;
    margin-top: -1px;
  }

  /***** Thumb Styles *****/
  input[type='range']::-webkit-slider-thumb {
    height: 0.7rem;
    width: 1rem;    
    -webkit-appearance: none;
    appearance: none;
    cursor: ew-resize;
    background: #6EBC5B;
    box-shadow: -80px 0 0 80px #6EBC5B;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #6EBC5B; 
  height: 0.8rem;

}
input[type="range"]::-moz-range-track {  
  background-color: #6D637A;
  height: 0.8rem;
}
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #6EBC5B;
  height: 0.8rem;
  width: 1rem;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #6EBC5B; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #6D637A;
}

.progress {
  padding-left: 15%;
  font-size: smaller;
}
.loading-container{
  aspect-ratio: 5/2;
  position: relative;
}
.loading-background{
  background-color: #232850;
  height: 100%;
}

.gen-text{
  position: absolute;
  padding-left: 40%;
  padding-top: 7.5%;
  color: white;
}

.logo-container{
  height: 5vh;
  display: flex;
  align-content: flex-end;
}

.controls-container{
  aspect-ratio: 1/1;
  position: relative;
}

.back-arrow{
  cursor: pointer;
  border-radius: 100%;
}

.hover-style{
  cursor: pointer;
}
.hover-style:hover{
  box-shadow: 0px 0px 1px 2px rgb(255, 255, 255);
}

.pointer-cursor{
  cursor: pointer;
}

@media screen and (max-width: 567px) { 
  .maintain-aspect-ratio-but-fill-screen-width-and-height {
    width: 95vw;
    height: 167vw;
    max-height: 95vh;
    max-width: 54vh;
  }
  .sm-invisible{
    display: none;
  }
  .wrapper-with-intrinsic-ratio.container{
    padding-bottom: 175%;
  }
  .wrapper-with-intrinsic-ratio.topscreen-wrapper{
    margin-top: 1%;
  }
  .camera{
    margin-top: 4%;
  }
  .topscreen{
    width: 94%;
  }
  .topscreen-wrapper{
    padding-bottom: 69%;
  }
  .main-body{
    border-radius: 30px;
  }
  .divider{
    margin-top: 7.5%;
  }
  body{
    font-size:1rem;
  }
  .track-box-container{
    aspect-ratio: 30/13;
  }
  .selected-pokemon-container{
    width: 45%;
    padding-bottom: 45%;
  }
}